* {
  padding: 0;
  margin: 0;
}

#grid-container {
  background-color: aqua;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* column-gap: 5vh;
  row-gap: 2vh; */
  /* align-items: start;
  justify-content: end; */
  gap: 3vh;
}

.items {
  background-color: violet;
  border: 2px solid black;
}

#box-1 {
  /* grid-column-start:1 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; */
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  /* justify-self: center;
  align-self: end; */
}
#box-2 {
  grid-column: 5/7;
}
#box-3 {
  grid-column: 5/7;
}
#box-4 {
    grid-column: 1/4;
}
#box-5 {
    grid-column: 4/7;
}
